@font-face {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
        url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat-Bold.woff") format("woff");
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html, body {
    height: 100vh;
}

html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-track {
    background: #f4f4f4;
}

html::-webkit-scrollbar-thumb {
    background:  #005B14;
    border: 3px solid #f4f4f4;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 0px #f4f4f433;
    
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    min-width: 320px;
    color: #2E3332;
    font-size: clamp(12px, 1vw, 18px);
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

p {
    margin: 0;
}

h1 {
    font-size: clamp(24px, 2vw, 40px);
}

h2 {
    font-size: clamp(18px, 1.5vw, 32px);
}

h3 {
    font-size: clamp(16px, 1.5vw, 24px);
}

.site-content {
    background: url(../images/background.jpg);
}

.site-content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: inherit;
    margin: 0 auto;
    padding: 0;
}

.main {
    flex: 1 1 auto;
}

.section {
    padding: 20px 60px 10px;
}

.section-inner {
    display: grid;
    gap: 30px;
}

.scrooll-to-top {
    display: none;
    line-height: 0px;
    position: fixed;
    right: 1%;
    bottom: 1%;
    z-index: 19;
    background: #00af26;
    border-radius: 10px;
    opacity: 0.6;
}

.to-top-icon {
    width: 45px;
    height: 40px;
}

.scrooll-to-top:hover {
    opacity: 1;
    transition: all .3s linear;
}