.slider-popular {
    grid-template-columns: 0.6fr 0.4fr;
    gap: 40px;
}

.slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.slider-inner {
    border: 3px solid #00AF26;
    position: relative;
    border-radius: 20px;
    z-index: 1;
    overflow: hidden;
}

.slider-inner .owl-carousel .owl-item img {
    width: 100%;
    height: 60vh;
}


.slider-inner .owl-theme div.owl-nav {
    margin: 0;
}

.slider-inner .owl-theme .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    max-width: 50px;
    margin: 0;
}

.slider-inner .owl-theme .owl-nav button:hover {
    background: #00000066;
}

.slider-inner .owl-nav button span {
    font-size: clamp(50px, 9vw, 100px);
    color: #00AF26;
    font-weight: 700;
}

.slider-inner .owl-nav button.owl-prev {
    left: 0;
}

.slider-inner .owl-nav button.owl-next {
    right: 0;
}

.owl-container {
    position: relative;
}

.owl-container figcaption {
    position: absolute;
    z-index: 10;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: #0000006e;
    color: #fff;
    font-weight: 700;
    padding: 12px;  
}

.owl-container figcaption a {
    display: block;
    font-weight: 700;
}

.owl-container figcaption a:hover {
    color: #00e932;
    transition: all .3s ease-in-out;
}

.popular-title {
    text-align: center;
    margin-bottom: 16px;
}

.popular-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.popular-item {
    width: 47%;
    border-radius: 6px;
    padding: 12px 8px;
    background: radial-gradient(88.4% 741.88% at 70.59% 0%, #80D0C7 0%, #005B14 47.5%);
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    font-weight: 700;
    z-index: 1;
    position: relative;
}

.popular-item:hover {
    background: transparent;
    transition: all .4s ease-in-out;
    box-shadow: none;
}

.popular-item:hover:after {
    background: radial-gradient(88.4% 741.88% at 70.59% 0%, #80D0C7 0%, #005B14 47.5%);
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    transform: scale(1);
}

.popular-item:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    transition: all 0.3s ease;
    transform: scale(.1);
}

/* Adaptive */
@media (max-width: 1400px) {
    .slider-inner .owl-carousel .owl-item img {
        height: 55vh;
    }

    .popular-item {
        padding: 8px;
    }
}

@media (max-width: 1200px) {
    .slider-inner .owl-carousel .owl-item img {
        height: 50vh;
    }
}

@media (max-width: 1024px) {
    .slider-popular {
        gap: 20px;
    }

    .slider-inner .owl-carousel .owl-item img {
        height: 35vh;
    }
}

@media (max-width: 900px) {
    .slider-popular {
        gap: 15px;
    }

    .popular-inner {
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .popular-title {
        margin-bottom: 13px;
    }

    .popular-inner {
        justify-content: space-around;
        gap: 15px;
    }

    .slider-popular {
        grid-template-columns: auto;
    }

    .popular-item {
        width: 30%;
    }
}

@media (max-width: 600px) {
    .slider-inner .owl-carousel .owl-item img {
        height: 40vh;
    }

    .popular-item {
        width: 47%;
    }
}

@media (max-width: 480px) {
    .slider-inner .owl-carousel .owl-item img {
        height: 35vh;
    }

    .popular-item {
        width: 60%;
    }

    .popular-inner {
        gap: 10px;
    }
}

@media (max-width: 320px) {
    .slider-inner .owl-carousel .owl-item img {
        height: 30vh;
    }
}